{% extends "admin_base.html" %}
{% block title %}Pairwise Video Comparisons: admin application{% endblock %}
{% block content %}
<p><a href="/pairwise">&lt; Return to admin home screen</a></p>
<h1>Pairwise Video Comparisons: file list</h1>
<table><tr><td>Name</td><td><span id="filelistName">{{ file_list.name }}</span></td></tr>
<tr><td>Created</td><td>{{ file_list.created }}</td></tr>
<tr><td>By</td><td>{{ file_list.get_creator_name() }}</td></tr>
</table>
<h2>Files in this list</h2>
<ul>
{% for file in file_list.content %}
<li>{{ file }}</li>
{% endfor %}
</ul>
<h2>Rounds using this list</h2>
{% if rounds|count %} 
<ul>
{% for round_ in rounds %}
<li>{{ round_.name }}</li>
{% endfor %}
</ul>
{% else %}
None
<div id="panel"><button id="deleteFileList">Delete this file list</button></div>
{% endif %}

{% endblock %}
{% block scripts %}<script src="/pairwise/static/pwv_file_list.js"></script>{% endblock %}