{% extends "admin_base.html" %}
{% block title %}Pairwise Comparisons: admin application{% endblock %}
{% block content %}
<p><a href="/pairwise">&lt; Return to admin home screen</a></p>
<h1>Pairwise Comparisons: {{ round_.name }}</h1>
<p>Created {{ round_.created }} by {{ creator.name or creator.nickname }}</p>

<table>
<tr><td colspan="3"><label for="roundName">Name: </label><input type="text" id="roundName" class="name-input" value="{{ round_.name }}" /></td></tr>
<tr><td><input type="checkbox" id="roundOpened" {% if round_.opened %}checked{% endif %} /><label for="roundOpened">Enable judging</label></td><td></td><td></td></tr>
<tr><td><input type="checkbox" id="max_views_check" {% if round_.max_views != None %}checked{% endif %}/><label for="max_views_check">Show a file no more than</label></td><td><input id="max_views" class="number-input-2" type="number" value="{% if round_.max_views != None %}{{ round_.max_views }}{% endif %}" /></td><td>times</td></tr>
<tr><td><input type="checkbox" id="max_comparisons_check" {% if round_.max_comparisons != None %}checked{% endif %} /><label for="max_comparisons_check">Show a combination no more than</label></td><td><input id="max_comparisons" class="number-input-2" type="number" value="{% if round_.max_comparisons != None %}{{ round_.max_comparisons }}{% endif %}" /></td><td>times</td></tr>
<tr><td><input type="checkbox" id="max_views_by_user_check" {% if round_.max_views_by_user != None %}checked{% endif %} /><label for="max_views_by_user_check">Show a file to each user no more than</label></td><td><input id="max_views_by_user" class="number-input-2" type="number" value="{% if round_.max_views_by_user != None %}{{ round_.max_views_by_user }}{% endif %}" /></td><td>times</td></tr>
<tr><td><input type="checkbox" id="max_comparisons_by_user_check" {% if round_.max_comparisons_by_user != None %}checked{% endif %} /><label for="max_comparisons_check">Show a combination to each user no more than</label></td><td><input id="max_comparisons_by_user" class="number-input-2" type="number" value="{% if round_.max_comparisons_by_user != None %}{{ round_.max_comparisons_by_user }}{% endif %}" /></td><td>times</td></tr>
<tr><td><input type="checkbox" id="min_time_check" {% if round_.min_time != None %}checked{% endif %} /><label for="min_time_check">Judge can only submit after</label></td><td><input id="min_time" type="number" class="number-input-4" value="{% if round_.min_time != None %}{{ round_.min_time }}{% endif %}" /></td><td>seconds</td></tr>
<tr><td><input type="checkbox" id="warn_time_check" {% if round_.warn_time != None %}checked{% endif %} /><label for="warn_time_check">Show a warning after</label></td><td><input id="warn_time" type="number" class="number-input-4" value="{% if round_.warn_time != None %}{{ round_.warn_time }}{% endif %}" /></td><td>seconds</td></tr>

</table>
<p class="hint">Before you start making comparisons you need to (1) upload a file list; 
(2) choose one of the file lists below to associate it with this round; and
(3) open the round by clicking <strong>Change</strong> above.</p>
<h2>Users associated with this round</h2>
<table id="users">
<tr><th><input type="checkbox" id="selectAllUsers"></th><th>Name</th>
<th>Email</th>
<th>Comparisons</th>
</tr>
{% for u in users %}
	<tr><td>
	{% if u.in_round(round_) %}
		<input type="checkbox" checked id="{{ u.key.id() }}">
	{% else %} <!-- if u.in_round(round_) -->
		<input type="checkbox" id="{{ u.key.id() }}">
	{% endif %} <!-- if u.in_round(round_) -->
	</td><td>{{ u.name or u.nickname }}</td>
	<td>{{ u.email }}</td>
	<td>{{ u.count_comparisons() }}</td>
	</tr>
{% endfor %} <!-- {% for u in users %} -->
</table>

<h2>Files for comparison in this round</h2>
<form id="filetype_form">
File type &nbsp;&nbsp;
<input type="radio" name="filetype" value="video_filetype" id="video_filetype" 
{% if round_.filetype == "video" %}checked{% endif %} />
<label for="video_filetype">Video</label>
<input type="radio" name="filetype" value="document_filetype" id="document_filetype" 
{% if round_.filetype == "document" %}checked{% endif %} />
<label for="document_filetype">Document</label>
<input type="radio" name="filetype" value="other_filetype" id="other_filetype" 
{% if round_.filetype == "other" %}checked{% endif %} />
<label for="other_filetype">Other</label>
</form>
<div>
<label for="contentInput">File list (separate files with new line)</label>
<br /><textarea rows="20" cols="100" id="contentInput" {% if comparisons|length %} disabled {% endif %} >
{% if file_list %}
	{% for f in file_list.content %}
		{{ f }}
	{% endfor %}
{% endif %}
</textarea>
</div>
<div>
<label for="existingRounds">Copy a file list from another round</label>
<select id="existingRounds">
<option value="round_none">(None)</option>
{% for r in rounds %}
	{% if r.file_list != None %}
		<option value="round_{{ r.id }}">{{ r.name }}</option>
	{% endif %}
{% endfor %}
</select>
</div>

<div class="panel">
<button id="submit">Save changes</button> <a href="/pairwise">Cancel</a> <button id="deleteRound">Delete round</button></div>

<h2>Weighting scheme</h2>
<p>There is currently no weighting scheme associated with this round. 
All files will have equal probability of selection.</p> 
<div class="panel"><a href="/pairwise/add_weighting">New weighting scheme</a></div>



<h2>Comparisons in round {{ round_.name }}</h2>
{% if comparisons and comparisons|length %}
	<table id="comparisons">
	<tr><th>Judge</th>
	<th>Left</th>
	<th>Right</th>
	<th>Result</th>
	<th>Shown time</th>
	<th>Choice time</th>
	</tr>
	{% for comparison in comparisons %}
		<tr>
		<td>{{ comparison.get_judge_name() }}</td>
		<td>{{ comparison.left }}</td>
		<td>{{ comparison.right }}</td>
		<td>{{ comparison.result }}</td>
		<td>{{ comparison.created }}</td>
		<td>{{ comparison.completed }}</td>
		</tr>
	{% endfor %}
	</table>
	<div class="panel"><a href="/pairwise/comparisons_csv?round={{ round_.key.id() }}">Download as CSV</a></div>
{% else %}
	No comparisons yet
{% endif %}

{% endblock %}
{% block scripts %}<script src="/pairwise/static/pwv_round.js"></script>{% endblock %}