{% extends "admin_base.html" %}
{% block title %}Pairwise Video Comparisons: admin application{% endblock %}
{% block content %}
<p><a href="/pairwise">&lt; Return to admin home screen</a></p>
<h1>Pairwise Video Comparisons: today's work by user and round</h1>
<p>Showing comparisons completed by round and user since midnight ({{ utc_time }})</p>
{% if users %}
{% for user, rounds in users.items() %}
<h2>User {{ user }}</h2>
<table>
<tr><th>Round</th><th>Number of completed comparisons today</th></tr>
{% for round_, count in rounds.items() %}
<tr><td>{{ round_ }}</td><td>{{ count }}</td></tr>
{% endfor %}
</table>
{% endfor %}
{% else %}
<p>No comparisons done so far today</p>
{% endif %}
<script src="pwv/pwv_today.js"></script>{% endblock %}