<!DOCTYPE html>
<html><head><title>Pairwise Comparisons Pilot application</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body><div id="output-container">
<h1>Pairwise Comparisons Pilot application: results</h1>
{% if user.admin %}
<h2>Comparisons stored on server (for round {{ round }})</h2>
<table id="serverComparisons">
<tr><th>Judge</th>
<th>Round</th>
<th>Comparison number</th>
<th>Left</th>
<th>Right</th>
<th>Result</th>
<th>Shown time</th>
<th>Choice time</th>
</tr>
{% for comparison in comparisons %}
<tr><td>{{ comparison.judge }}</td>
<td>{{ comparison.key.parent().id() }}</td>
<td>{{ comparison.comparison_number }}</td>
<td>{{ comparison.left }}</td>
<td>{{ comparison.right }}</td>
<td>{{ comparison.result }}</td>
<td>{{ comparison.shown_time }}</td>
<td>{{ comparison.choice_time }}</td>
</tr>
{% endfor %}
</table>
<div id="serverButtons"></div>

{% endif %}
<h2>Comparisons stored locally</h2>
<div id="local_comparisons"></div>
<div id="local-buttons"></div>

{% if user.admin %}
<div id="change-round"">Round: <input type="text" value="{{ round }}" id="round-field"/></div>
{% endif %}
</div> 


{% if user.admin %}
<div id="controls">Signed in as {{ user.nickname }} | <a href="{{ user.logout }}">Sign out</a> | <a href="/pairwise">Return to comparisons</a></div>
{% else %}
<div id="controls">Signed in as {{ user.nickname }} | <a href="{{ user.logout }}">Sign out</a> | <a href="/pairwise">Return to comparisons</a></div>
{% endif %}
<script>var page = "output", admin = "{{ user.admin }}" == "True", round = {{ round }};</script>
<script src="/static/pairwise_common.js"></script>
<script src="/static/pairwise_output.js"></script>

</body></html>
