body, div {
	margin: 0; padding: 0; font-family: Arial, sans-serif;
}
div#output-container {
	padding: 30px;
}
table {
    border-collapse: collapse;
    border: solid 1px black;
}
td {
	border: solid 1px black;
	padding: 2px;
}
.pdf {
	position: absolute;
	top: 0;
}
#leftPdf {
	left: 0; 
}
#rightPdf {
	right: 0;
}
#choiceForm div, #choiceForm button {
	position: absolute;
	font-size: 18pt;
	color: green;
	top: 40px;
}
#choiceForm div.left {
	left: 20%;
}
#choiceForm div.right {
	right: 20%;
}
#submitButton {
	right: 10px;
}
#controls {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ccccff;
	padding: 2px 2px 5px 5px;
}
#resultsBox {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 1000px;
	height: 500px;
	border: solid 2px black;
	background-color: white;
	display: none;
	padding: 10px;
}
#resultsBox .content {

}
#resultsBox .content td {
	border: solid 1px black;
}
#resultsBox .close {
	cursor: pointer;
	text-decoration: underline;
	padding-top: 1em;

}
.placeholder {
	position: absolute;
	top: 50%;
	font-size: 30pt;
	width: 50%;
	text-align: center;
}
#leftPlaceholder {
	left: 0;
}
#rightPlaceholder {
	right: 0;
}
#message {
	position: fixed; left: 300px; top: 200px; width: 700px; border: solid 2px #f0c36d;
	background-color: #f9edbe;
	padding: 10px;
}
#change-round {
	margin: 30px 0 0 0;
}
#message button {
	margin: 10px 10px 0 0; padding: 5px;
}
#message div.errorMessage {
	font-size: 80%;
	border: solid 1px #f0c36d;
	padding: 10px;
	margin: 10px 0 0 0;
}
#message .errorMessage h1 {
	font-size: 100%;
	margin: 0; padding: 0;

}
span.error {
	font-size: 80%;
	
}
span.moreinfo {
	border-bottom: dotted 1px gray;
}
/* Following styles are for pwv comparisons app. Place these in a separate stylesheet if they
start messing up styles of other apps */
div#panel, div.panel {
	margin-top: 15px;
	border: solid 1px gray;
	padding: 15px;

	}
div#panel button, div#panel a, div.panel button, div.panel a { font-size: 120%; }
div#panel a, div.panel a { display: inline-block; padding-left: 10px; padding-right: 10px; }
div#output-container td, div#output-container th {padding: 3px;}
div#output-container th {border: solid 1px black; }
div.tableControlPanel {
	margin: 0 0 10px 0;
	
}
span.tableControl {cursor: pointer;
	color: blue;
	display: inline-block;
	background-color: #ccccff;
	padding: 2px 4px;
}
table input.number-input-2, input.number-input-4, input.name-input {
	font-size: 100%;
	padding: 2px;
	
}
table input.number-input-2 {
	width: 2.5em;
}
table input.number-input-4 {
	width: 4em;
}
table input.name-input {
	width: 20em;
}